tensorflow==2.15.0  # or the version you used during development
opencv-python==4.9.0.80  # for image processing with OpenCV
numpy==1.26.4  # for numerical operations
scikit-learn==0.20  # for train-test splitting and other utilities
keras ==3.1.1
